body {
    background-color: white;
    color: black;
}

.logo img {
    background-color: #333;
}

header {
    color: #000000;
    border-bottom: 5px solid #007bff;
}

#theme-toggle.dark-mode {
    background-color: #333;
    color: #f8f9fa;
}